<head>
  <script type="text/javascript">
      function draw(){
        var canvas = document.getElementById('tutorial');
        if (canvas.getContext){
          var ctx = canvas.getContext('2d');

          var xCoords = [<%= @x_coordinates.join(",") %> ]
          var yCoords = [<%= @y_coordinates.join(",") %> ]
          var turns = <%= @turns %>

          for(var i = 0; i < turns; i++) {
              ctx.beginPath();
              ctx.strokeStyle='purple';
              ctx.lineWidth=5;
              ctx.moveTo(yCoords[i]*-1,xCoords[i]);
              ctx.lineTo(yCoords[i+1]*-1,xCoords[i+1]);
              ctx.stroke();
          }


        }
      }


    </script>
    <style type="text/css">
   canvas { border: 1px solid black; }
 </style>
</head>
<body onload="draw();">
   <h1>It's over!</h1>
  <h2>You traveled <%= @blocks_traveled %> blocks.</h2>

  <div class="endtrip">
    <canvas id="tutorial" width="300" height="300"></canvas>
    <p>
      <%= link_to "Start a new trip!", walker_trips_path(@walker.id), method: :post %>
    </p>
    <p>
      <%= link_to "See my trips", walker_trips_path(@walker.id) %>
    </p>
  </div>


  <div class="endtrip">
    <p>
        <%= link_to "Click for Google maps directions back to your starting location", "http://maps.google.com/?saddr=#{@end_latitude},#{@end_longitude}&daddr=#{@start_latitude},#{@start_longitude}&dirflg=w" %>
    </p>

    <p>
      <iframe width="600" height="450" frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?origin=<%=@end_latitude%>,<%=@end_longitude%>&destination=<%=@start_latitude%>,<%=@start_longitude%>&mode=walking&key=<%= ENV['GOOGLE_KEY'] %>" allowfullscreen></iframe>
    </p>

  </div>


 </body>
