<h1>You're on step <%= @turn.sequence %> of your trip </h1>

<% if @turn.sequence == 1 %>
  <h3>To begin your trip, head <%= @direction %> for <%= @turn.blocks %> block<%= "s" if @turn.blocks != 1 %> </h3>
<% else %>
  <h2> <%= @heads_or_tails %>! </h2>
  <h3>Head <%= @direction %> for <%= @turn.blocks %> block<%= "s" if @turn.blocks != 1 %>. </h3>
<% end %>

<% if @direction == "right" %>
  <%= link_to image_tag("Heads.png"), walker_trip_turns_path(walker_id: params[:walker_id], trip_id: params[:trip_id]), method: :post %>
<% elsif @direction == "left" %>
  <%= link_to image_tag("Tails.png"), walker_trip_turns_path(walker_id: params[:walker_id], trip_id: params[:trip_id]), method: :post %>
<% else %>
  <%= link_to image_tag("AllPenny.png"), walker_trip_turns_path(walker_id: params[:walker_id], trip_id: params[:trip_id]), method: :post %>
<% end %>

<h3> Now click Penny for the next direction! </h3>
