<h1>Your trip</h1>
<% if @turn.sequence == 1 %>
  <% if @turn.blocks > 1 %>
    <h3>To begin your trip, head straight for <%= @turn.blocks %> blocks. Then tap Penny the puppy for your next direction! </h3>
  <% else %>
    <h3>To begin your trip, head straight for <%= @turn.blocks %> block. Then tap Penny the puppy for your next direction! </h3>
  <% end %>
<% else %>
  <% if @turn.blocks > 1 %>
    <h3>Now head <%= @direction %> for <%= @turn.blocks %> blocks. Then tap Penny the puppy for your next direction! </h3>
  <% else %>
    <h3>Now head <%= @direction %> for <%= @turn.blocks %> block. Then tap Penny the puppy for your next direction! </h3>
  <% end %>
<% end %>

<%= link_to image_tag("Heads.png"), walker_trip_turns_path(walker_id: params[:walker_id], trip_id: params[:trip_id]), method: :post %>
